.projectsSection {
  min-height: calc(100vh - 90px);
  background-color: var(--secondary-color);
  padding-bottom: 3rem;
}

.projectsTitle {
  width: 100%;
  text-align: left;
  font-size: 6rem;
  font-family: "Staatliches", sans-serif;
  font-weight: 500;
  letter-spacing: -0.2rem;
  color: var(--primary-color);
  padding: 2rem 0 0 2rem;
}

.projectsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.projectItem {
  width: 50%;
  height: 80vh;
  text-decoration: none;
}

.projectItem.full {
  width: 100%;
}

@media (max-width: 1024px) {
  .projectsTitle {
    font-size: 5rem;
  }
  .projectItem {
    height: 60vh;
  }
}

@media (max-width: 768px) {
  .projectsTitle {
    font-size: 6rem;
  }
  .projectItem {
    width: 100%;
    height: 80vh;
  }
}

@media (max-width: 445px) {
  .projectsContainer {
    padding: 0;
  }
  .projectsTitle {
    font-size: 4.5rem;
    padding: 2rem 0 0 1rem;
  }
  .projectItem {
    width: 100%;
    height: 50vh;
  }
}
