.main {
  width: 100vw;
  min-height: calc(100vh - 90px);
  display: flex;
  margin-top: 90px;
  background-color: var(--secondary-color);
}

.projectImages {
  width: 49.75%;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.projectImages img {
  width: 100%;
  height: auto;
}

.projectInfo {
  position: fixed;
  right: 0;
  top: 90px;
  width: 50%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
  box-shadow: -20px 0 35px rgba(103, 103, 103, 0.06);
}

.projectTitleContainer {
  min-height: 50%;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(black, transparent, black);
  opacity: 0.8;
  overflow: hidden;
}

.video video {
  width: 100%;
  opacity: 0.5;
}

.projectTitle {
  width: 100%;
  text-align: center;
  font-size: 9rem;
  font-family: "Staatliches", sans-serif;
  font-weight: 500;
  letter-spacing: -0.2rem;
  line-height: 7rem;
  color: var(--transparent-primary-color);
  overflow-y: hidden;
  user-select: none; /* block text selection */
}

.projectDescContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem 0 2rem;
}

.projectDescContainer p {
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -1px;
  text-align: justify;
  color: var(--primary-color);
  padding: 0.5rem 2rem;
}

.projectLinks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 2rem;
}

.projectLinkItem {
  position: relative;
  width: 50%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Staatliches", sans-serif;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 0.8rem 1.4rem;
  border: 2px solid var(--transparent-primary-color);
  border-radius: 0.3rem;
  color: var(--transparent-primary-color);
  background-color: transparent;
  box-shadow: 2px 2px 4px #6969695e;
  overflow: hidden;

  transition: all 0.3s;
}

.only {
  width: 100%;
}

.hidden {
  display: none;
}

.projectLinkItem:hover {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.projectLinkItem::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    transparent,
    rgba(235, 235, 235, 0.192),
    transparent
  );

  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}

.projectLinkItem:hover::before {
  transform: translateX(100%);
}

@media (max-width: 1024px) {
  .projectTitleContainer {
    min-height: 35%;
  }
  .projectTitle {
    font-size: 7rem;
    line-height: 5.5rem;
  }
  .projectDescContainer {
    height: 65%;
    justify-content: center;
    gap: 3rem;
  }
  .projectDescContainer p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    padding: 0.2rem;
  }
  .projectLinks {
    padding: 0;
  }
}

@media (max-width: 820px) {
  .main {
    flex-direction: column-reverse;
  }
  .projectImages {
    width: 100%;
  }
  .projectInfo {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    height: fit-content;
  }
  .projectTitleContainer {
    height: 35vh;
  }
  .video {
    z-index: 1;
  }
  .projectTitle {
    z-index: 2;
    padding-top: 1rem;
  }
  .projectDescContainer {
    height: fit-content;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 2rem;
  }
}

@media (max-width: 768px) {
  .main {
    min-height: calc(100% - 70px);
    margin-top: 70px;
  }
  .projectInfo {
    top: 70px;
    height: calc(100% - 150px);
  }
}

@media (max-width: 575px) {
  .projectTitleContainer {
    height: 24vh;
  }
  .projectTitle {
    font-size: 6rem;
    line-height: 4.5rem;
  }
  .projectDescContainer {
    height: fit-content;
    padding: 2rem 1rem;
  }
  .projectLinkItem {
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 375px) {
  .projectTitleContainer {
    height: 20vh;
  }
  .projectTitle {
    font-size: 4.5rem;
    line-height: 3.5rem;
  }
}
