.cardContainer {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  box-shadow: 0 20px 50px -25px rgba(236, 236, 236, 0.24);
  border-radius: 0.8rem;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.card:hover {
  cursor: pointer;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(135deg, #99999941, #00000063 70%);
  border-radius: 0.8rem;
  opacity: 1;

  transition: all 0.5s;
}

.card:hover::before {
  opacity: 0;
}

.card .bgVideo {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: -1;
  opacity: 0;
}

.card:hover .bgVideo {
  opacity: 0.25;
}

.card:hover .glass {
  display: none;
}

.card .glass {
  position: absolute;
  inset: 0;
  background-color: #30303018;
  border-radius: 0.8rem;
  backdrop-filter: blur(0.5px);
  animation: all 1.5s ease-in-out;
}

.cardTitle {
  width: 50%;
  font-weight: 500;
  font-size: 4rem;
  letter-spacing: -0.2rem;
  line-height: 4rem;
  overflow-y: hidden;
  text-align: center;
  text-shadow: 4px 4px 8px #252525b6;
  color: var(--primary-color);
  font-family: "Staatliches", sans-serif;
}

@media (max-width: 1024px) {
  .cardTitle {
    width: 80%;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}

@media (max-width: 768px) {
  .card .bgVideo {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    opacity: 0;
  }
  .cardTitle {
    font-size: 4rem;
  }
}

@media (max-width: 445px) {
  .cardTitle {
    width: 60%;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: -0.1rem;
  }
}
