.skillsSection {
  min-height: calc(100vh - 90px);
  background-color: var(--secondary-color);
  padding-bottom: 4rem;
}

.skillsTitle {
  width: 100%;
  text-align: left;
  font-size: 6rem;
  font-family: "Staatliches", sans-serif;
  font-weight: 500;
  letter-spacing: -0.2rem;
  color: var(--primary-color);
  padding: 2rem 0 0 2rem;
}

.skillsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem 8rem;
}

.card {
  transition: all 0.3s;
}

.skillItem {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--transparent-primary-color);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.125);
  border-radius: 1rem;
  filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.157);
  text-decoration: none;
  padding: 1rem;

  transition: all 0.3s;
}

.skillItem:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.075);
  filter: blur(0);
  color: var(--primary-color);
}

.skillItemIconContainer {
  position: relative;
  height: 260px;
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillItemIcon {
  width: auto;
  height: 90%;
  padding: 0;
  color: var(--transparent-primary-color);

  transition: all 0.5s;
}

.skillItem:hover .skillItemIcon {
  color: var(--primary-color);
}

.skillItemName {
  height: 15%;
  font-weight: 600;
  font-size: 1.4rem;
}

@media (max-width: 1440px) {
  .skillItemIconContainer {
    position: relative;
    height: 20vw;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1150px) {
  .skillsTitle {
    font-size: 5rem;
  }
  .skillsContainer {
    justify-content: space-around;
  }
  .skillsContainer {
    padding: 2rem;
    gap: 2rem;
  }
  .skillItemIconContainer {
    position: relative;
    height: 40vw;
    width: 40vw;
  }
}

@media (max-width: 950px) {
  .skillItemIconContainer {
    position: relative;
    height: 39vw;
    width: 39vw;
  }
}

@media (max-width: 768px) {
  .skillsTitle {
    font-size: 6rem;
  }
  .skillItem {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.075);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.075);
    filter: blur(0);
    color: var(--transparent-primary-color);
  }
  .skillItemIconContainer {
    position: relative;
    height: 38vw;
    width: 38vw;
  }
}

@media (max-width: 690px) {
  .skillsTitle {
    font-size: 4.5rem;
    padding: 2rem 0 0 1rem;
  }
  .skillItemIconContainer {
    height: 35vw;
    width: 35vw;
  }
}

@media (max-width: 540px) {
  .skillsContainer {
    padding: 1rem;
    gap: 1rem;
  }
  .skillItemIconContainer {
    height: 36vw;
    width: 36vw;
  }
  .skillItemName {
    font-size: 1.2rem;
  }
}

@media (max-width: 415px) {
  .skillItemIconContainer {
    height: 33vw;
    width: 33vw;
  }
  .skillItemName {
    font-size: 1rem;
  }
}

@media (max-width: 415px) {
  .skillItemIconContainer {
    height: 30vw;
    width: 30vw;
  }
  .skillItemName {
    font-size: 0.9rem;
  }
}
